pipeline/bronzeToSilverDatabricks.json
{
	"name": "bronzeToSilverDatabricks",
	"properties": {
		"activities": [
			{
				"name": "Lookupcontroltable",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from main_control_table where sourcelayer = 'Bronze' and targetlayer = 'Silver' and activeflag = 1;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference",
						"parameters": {
							"tablename": "main_control_table"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachItemInLookup",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookupcontroltable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookupcontroltable').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "SwitchforSCDtype",
							"type": "Switch",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@item().SCDType",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "SCD0"
									},
									{
										"value": "SCD2"
									}
								]
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}