pipeline/dynamic_Source to Bronze.json
{
	"name": "dynamic_Source to Bronze",
	"properties": {
		"activities": [
			{
				"name": "LookupControlTable",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "Select * from main_control_table where ActiveFlag = 1;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference",
						"parameters": {
							"tablename": "main_control_table"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachValueInControlTable",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupControlTable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupControlTable').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Switch1",
							"type": "Switch",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@item().SourceType",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "blob"
									},
									{
										"value": "sql",
										"activities": [
											{
												"name": "maxWatermark",
												"type": "Lookup",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": "Select max(@{item().watermarkcolumn}) from @{item().SourceName}",
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "AzureSqlTable1",
														"type": "DatasetReference",
														"parameters": {
															"tablename": {
																"value": "@item().SourceName",
																"type": "Expression"
															}
														}
													}
												}
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}