pipeline/dynamic_Source to Bronze.json
{
	"name": "dynamic_Source to Bronze",
	"properties": {
		"activities": [
			{
				"name": "LookupControlTable",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "Select * from main_control_table where ActiveFlag = 1;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference",
						"parameters": {
							"tablename": "main_control_table"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachValueInControlTable",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupControlTable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupControlTable').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Switch1",
							"type": "Switch",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@item().SourceType",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "blob",
										"activities": [
											{
												"name": "LastLoadValue",
												"type": "Lookup",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "Select max(@{item().watermarkcolumn}) as LastLoadValue from @{item().SourceName} where activeflag = 1",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "AzureSqlTable1",
														"type": "DatasetReference",
														"parameters": {
															"tablename": "main_control_table"
														}
													}
												}
											},
											{
												"name": "Setcurrenttime",
												"type": "SetVariable",
												"dependsOn": [
													{
														"activity": "LastLoadValue",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "currenttime",
													"value": {
														"value": "@utcNow()",
														"type": "Expression"
													}
												}
											},
											{
												"name": "copyblobtobronze",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "Setcurrenttime",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"storeSettings": {
															"type": "AzureBlobStorageReadSettings",
															"recursive": true,
															"modifiedDatetimeStart": {
																"value": "@activity('LastLoadValue').output.firstRow.LastLoadValue",
																"type": "Expression"
															},
															"modifiedDatetimeEnd": {
																"value": "@variables('currenttime')",
																"type": "Expression"
															},
															"wildcardFileName": "*",
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														}
													},
													"sink": {
														"type": "DelimitedTextSink",
														"storeSettings": {
															"type": "AzureBlobStorageWriteSettings"
														},
														"formatSettings": {
															"type": "DelimitedTextWriteSettings",
															"quoteAllText": true,
															"fileExtension": ".txt"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "blobparameterized",
														"type": "DatasetReference",
														"parameters": {
															"container": "source",
															"directory": "@item().SourceName",
															"filename": "@''"
														}
													}
												],
												"outputs": [
													{
														"referenceName": "blobparameterized",
														"type": "DatasetReference",
														"parameters": {
															"container": "bronze",
															"directory": {
																"value": "@concat(item().DestinationLocation, '/', formatDateTime(utcNow(), 'yyyy/MM/dd'))",
																"type": "Expression"
															},
															"filename": {
																"value": "@concat(activity('LastLoadValue').output.firstRow.SourceName, '_', formatDateTime(utcNow(), 'yyyyMMdd_HHmmss'), '.csv')",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "updateWatemark",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "copyblobtobronze",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[dbo].[updatewatermark]",
													"storedProcedureParameters": {
														"newwatermark": {
															"value": {
																"value": "@variables('currenttime')",
																"type": "Expression"
															},
															"type": "String"
														},
														"sourcename": {
															"value": {
																"value": "@item().SourceName",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "AzureSqltestdb",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "Stored procedure2",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": []
											},
											{
												"name": "InsertAuditLog",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "updateWatemark",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[dbo].[InsertAuditLog]",
													"storedProcedureParameters": {
														"ADFPipelineRunID": {
															"value": {
																"value": "@pipeline().RunId",
																"type": "Expression"
															},
															"type": "String"
														},
														"ExecutionDurationSecs": {
															"value": {
																"value": "@activity('copyblobtobronze').output.copyDuration",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"LoadStatus": {
															"value": "'Success'",
															"type": "String"
														},
														"PipelineName": {
															"value": {
																"value": "@pipeline().Pipeline",
																"type": "Expression"
															},
															"type": "String"
														},
														"RowsCopied": {
															"value": {
																"value": "@activity('copyblobtobronze').output.rowsCopied\r\n",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"RowsRead": {
															"value": {
																"value": "@activity('copyblobtobronze').output.rowsRead",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"TableName": {
															"value": {
																"value": "@item().SourceName",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "AzureSqltestdb",
													"type": "LinkedServiceReference"
												}
											}
										]
									},
									{
										"value": "sql",
										"activities": [
											{
												"name": "maxWatermark",
												"type": "Lookup",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "Select max(@{item().watermarkcolumn}) as latest_watermark from @{item().SourceName} where activeflag = 1",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "AzureSqlTable1",
														"type": "DatasetReference",
														"parameters": {
															"tablename": {
																"value": "@item().SourceName",
																"type": "Expression"
															}
														}
													}
												}
											},
											{
												"name": "CopySqlToBronze",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "maxWatermark",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderQuery": {
															"value": "select * from @{item().SourceLocation} \nwhere @{item().WatermarkColumn} > '@{item().LastLoadValue}' \nand @{item().WatermarkColumn} <= '@{activity('maxWatermark').output.firstRow.latest_watermark}'",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"enableStaging": false
												},
												"inputs": [
													{
														"referenceName": "AzureSqlTable1",
														"type": "DatasetReference",
														"parameters": {
															"tablename": {
																"value": "@item().SourceName",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "updatewatermark",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "CopySqlToBronze",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[dbo].[updatewatermark]",
													"storedProcedureParameters": {
														"newwatermark": {
															"value": {
																"value": "@activity('maxWatermark').output.firstRow.latest_watermark",
																"type": "Expression"
															},
															"type": "String"
														},
														"sourcename": {
															"value": {
																"value": "@item().SourceName",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "AzureSqltestdb",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "updateAuditLog",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "updatewatermark",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[dbo].[InsertAuditLog]",
													"storedProcedureParameters": {
														"ADFPipelineRunID": {
															"value": {
																"value": "@pipeline().RunId",
																"type": "Expression"
															},
															"type": "String"
														},
														"ExecutionDurationSecs": {
															"value": {
																"value": "@activity('CopySqlToBronze').output.copyDuration",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"LoadStatus": {
															"value": "'Success'",
															"type": "String"
														},
														"PipelineName": {
															"value": {
																"value": "@pipeline().Pipeline",
																"type": "Expression"
															},
															"type": "String"
														},
														"RowsCopied": {
															"value": {
																"value": "@activity('CopySqlToBronze').output.rowsCopied\n",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"RowsRead": {
															"value": {
																"value": "@activity('CopySqlToBronze').output.rowsRead",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"TableName": {
															"value": {
																"value": "@item().SourceName",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "AzureSqltestdb",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "errorLog",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "CopySqlToBronze",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[dbo].[InsertAuditLog]",
													"storedProcedureParameters": {
														"ADFPipelineRunID": {
															"value": {
																"value": "@pipeline().RunId",
																"type": "Expression"
															},
															"type": "String"
														},
														"ErrorMessage": {
															"value": {
																"value": "@activity('CopySqlToBronze').error.message",
																"type": "Expression"
															},
															"type": "String"
														},
														"ExecutionDurationSecs": {
															"value": {
																"value": "@activity('CopySqlToBronze').output.copyDuration",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"LoadStatus": {
															"value": "'Error'",
															"type": "String"
														},
														"PipelineName": {
															"value": {
																"value": "@pipeline().Pipeline",
																"type": "Expression"
															},
															"type": "String"
														},
														"RowsCopied": {
															"value": {
																"value": "@activity('CopySqlToBronze').output.rowsCopied",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"RowsRead": {
															"value": {
																"value": "@activity('CopySqlToBronze').output.rowsRead",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"TableName": {
															"value": {
																"value": "@item().SourceName",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "AzureSqltestdb",
													"type": "LinkedServiceReference"
												}
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"variables": {
			"currenttime": {
				"type": "String"
			}
		},
		"annotations": []
	}
}