pipeline/sampleDataEngg.json
{
	"name": "sampleDataEngg",
	"properties": {
		"activities": [
			{
				"name": "lastLoadValue",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from main_control_table where sourcename = 'DimProduct' and activeflag = 1",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference",
						"parameters": {
							"tablename": "main_control_table"
						}
					}
				}
			},
			{
				"name": "latestwatermarkvalue",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select max(modified_date) modified_date from DimProduct;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference",
						"parameters": {
							"tablename": "DimProduct"
						}
					}
				}
			},
			{
				"name": "incrementalLoad",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "lastLoadValue",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "latestwatermarkvalue",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('select * from DimProduct where modified_date >''', activity('lastloadvalue').output.firstRow.lastloadvalue,''' and modified_date <= ''',activity('latestwatermarkvalue').output.firstRow.modified_date,'''')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference",
						"parameters": {
							"tablename": "DimProduct"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "blobparameterized",
						"type": "DatasetReference",
						"parameters": {
							"container": "bronze",
							"directory": {
								"value": "@concat(activity('lastloadvalue').output.firstRow.DestinationLocation, '/', formatDateTime(utcNow(), 'yyyy/MM/dd'))",
								"type": "Expression"
							},
							"filename": {
								"value": "@concat(activity('lastloadvalue').output.firstRow.SourceName, '_', formatDateTime(utcNow(), 'yyyyMMdd_HHmmss'), '.csv')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "updatewatermark",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "incrementalLoad",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[updatewatermark]",
					"storedProcedureParameters": {
						"newwatermark": {
							"value": {
								"value": "@activity('latestwatermarkvalue').output.firstRow.modified_date",
								"type": "Expression"
							},
							"type": "String"
						},
						"sourcename": {
							"value": {
								"value": "@activity('lastLoadValue').output.firstRow.SourceName",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqltestdb",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "successAuditLog",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "incrementalLoad",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[InsertAuditLog]",
					"storedProcedureParameters": {
						"ADFPipelineRunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"ExecutionDurationSecs": {
							"value": {
								"value": "@activity('incrementalLoad').output.copyDuration",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"LoadStatus": {
							"value": "'Success'",
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"RowsCopied": {
							"value": {
								"value": "@activity('incrementalLoad').output.rowsCopied",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RowsRead": {
							"value": {
								"value": "@activity('incrementalLoad').output.rowsRead",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"TableName": {
							"value": {
								"value": "@activity('lastloadvalue').output.firstRow.SourceName",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqltestdb",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "errorAuditLog",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "incrementalLoad",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[InsertAuditLog]",
					"storedProcedureParameters": {
						"ADFPipelineRunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorMessage": {
							"value": {
								"value": "@activity('incrementalLoad').error.message",
								"type": "Expression"
							},
							"type": "String"
						},
						"ExecutionDurationSecs": {
							"value": {
								"value": "@activity('incrementalLoad').output.copyDuration",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"LoadStatus": {
							"value": "'Error'",
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"RowsCopied": {
							"value": {
								"value": "@activity('incrementalLoad').output.rowsCopied",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RowsRead": {
							"value": {
								"value": "@activity('incrementalLoad').output.rowsRead",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"TableName": {
							"value": {
								"value": "@activity('lastloadvalue').output.firstRow.SourceName",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqltestdb",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": []
	}
}