pipeline/sampleDataEngg.json
{
	"name": "sampleDataEngg",
	"properties": {
		"activities": [
			{
				"name": "lastloadvalue",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from main_control_table where sourcename = 'DimProduct'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference",
						"parameters": {
							"tablename": "main_control_table"
						}
					}
				}
			},
			{
				"name": "latestwatermarkvalue",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select max(modified_date) modified_date from DimProduct;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference",
						"parameters": {
							"tablename": "DimProduct"
						}
					}
				}
			},
			{
				"name": "incrementalLoad",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "lastloadvalue",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "latestwatermarkvalue",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('select * from DimProduct where modified_date >''', activity('lastloadvalue').output.firstRow.lastloadvalue,''' and modified_date <= ''',activity('latestwatermarkvalue').output.firstRow.modified_date,'''')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference",
						"parameters": {
							"tablename": "DimProduct"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "blobparameterized",
						"type": "DatasetReference",
						"parameters": {
							"container": "bronze",
							"directory": {
								"value": "@concat(activity('lastloadvalue').output.firstRow.DestinationLocation, '/', formatDateTime(utcNow(), 'yyyy/MM/dd'))",
								"type": "Expression"
							},
							"filename": {
								"value": "@concat(activity('lastloadvalue').output.firstRow.SourceName, '_', formatDateTime(utcNow(), 'yyyyMMdd_HHmmss'), '.csv')",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"annotations": []
	}
}