pipeline/Source_blob To Bronze.json
{
	"name": "Source_blob To Bronze",
	"properties": {
		"activities": [
			{
				"name": "lastLoadValue",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from main_control_table where sourcename = 'FactInternetSales' and activeflag = 1",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference",
						"parameters": {
							"tablename": "main_control_table"
						}
					}
				}
			},
			{
				"name": "incrementalLoad",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SetWatermarkTime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": false,
							"modifiedDatetimeStart": {
								"value": "@activity('lastLoadValue').output.firstRow.LastLoadValue",
								"type": "Expression"
							},
							"modifiedDatetimeEnd": {
								"value": "@variables('watermarktime')",
								"type": "Expression"
							},
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "blobparameterized",
						"type": "DatasetReference",
						"parameters": {
							"container": "source",
							"directory": {
								"value": "@activity('lastLoadValue').output.firstRow.SourceName",
								"type": "Expression"
							},
							"filename": "*"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "blobparameterized",
						"type": "DatasetReference",
						"parameters": {
							"container": "bronze",
							"directory": {
								"value": "@concat(activity('lastLoadValue').output.firstRow.DestinationLocation, '/', formatDateTime(utcNow(), 'yyyy/MM/dd'))",
								"type": "Expression"
							},
							"filename": {
								"value": "@concat(activity('lastLoadValue').output.firstRow.SourceName, '_', formatDateTime(utcNow(), 'yyyyMMdd_HHmmss'), '.csv')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "updatewatermark",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "incrementalLoad",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[updatewatermark]",
					"storedProcedureParameters": {
						"newwatermark": {
							"value": {
								"value": "@variables('watermarktime')",
								"type": "Expression"
							},
							"type": "String"
						},
						"sourcename": {
							"value": {
								"value": "@activity('lastLoadValue').output.firstRow.SourceName",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqltestdb",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "successAuditLog",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "incrementalLoad",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[InsertAuditLog]",
					"storedProcedureParameters": {
						"ADFPipelineRunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"ExecutionDurationSecs": {
							"value": {
								"value": "@activity('incrementalLoad').output.copyDuration",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"LoadStatus": {
							"value": "'Success'",
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"RowsCopied": {
							"value": {
								"value": "@activity('incrementalLoad').output.rowsCopied",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RowsRead": {
							"value": {
								"value": "@activity('incrementalLoad').output.rowsRead",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"TableName": {
							"value": {
								"value": "@activity('lastLoadValue').output.firstRow.SourceName",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqltestdb",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "errorAuditLog",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "incrementalLoad",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[InsertAuditLog]",
					"storedProcedureParameters": {
						"ADFPipelineRunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorMessage": {
							"value": {
								"value": "@activity('incrementalLoad').error.message",
								"type": "Expression"
							},
							"type": "String"
						},
						"ExecutionDurationSecs": {
							"value": {
								"value": "@activity('incrementalLoad').output.copyDuration",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"LoadStatus": {
							"value": "'Error'",
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"RowsCopied": {
							"value": {
								"value": "@activity('incrementalLoad').output.rowsCopied",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RowsRead": {
							"value": {
								"value": "@activity('incrementalLoad').output.rowsRead",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"TableName": {
							"value": {
								"value": "@activity('lastLoadValue').output.firstRow.SourceName",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqltestdb",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SetWatermarkTime",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "lastLoadValue",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "watermarktime",
					"value": {
						"value": "@utcNow()",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"watermarktime": {
				"type": "String"
			}
		},
		"annotations": []
	}
}